{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css">
</head>
<body>
    <div class = "container">
        <div class = "menu">
            {%include './cards.html'%}
        </div>
        <div class = "content">
            <a href={{city.original_link}}>
                <p class = "content__title">{{city.title}}</p>
            </a>
            <p class = "content__description">{{city.description}}</p>
            {%include './sights.html'%}
        </div>
    </div>
</body>
</html>