body{
    background-color: rgb(255, 253, 223);
    overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
}
img{
    border-radius: 5px;
}
.container{
    display:flex;
    width: 100%;
}
.menu{
    width: 35%;
    overflow    : hidden;
}
.content{
    width: 65%;
    height: 95vh;
    margin-left: 30px;
    overflow-y: scroll;
}
.card{
    position: relative;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    margin: 5px 0;
    padding: 0 5px;
    border-radius: 5px;
    transition: background-color .3s;
}

.card:hover{
    background-color: rgb(232, 229, 201);
}

.card__description{
    width: 50%;
    text-decoration: none;
    color: black
}

.card__title, .content__title, .sight__title{
    font-size: 20px;
    text-align: center;
}

.card__preview{
    width: 50%;
    border-radius: 5px;
    margin: 5px;
}

.content__title{
    text-align: center;
    font-size: 25px;
}
.sight{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0 0;
}
.sight.reverse{
    flex-direction: row-reverse;
}
.sight__img{
    width: 30%;
    box-shadow: 5px 5px 5px rgb(69, 69, 69);
}
.sight__text{
    width: 65%;
}
.sight__description{
    width: 100%;
}
